---
import "@fancyapps/ui/dist/fancybox/fancybox.css";
import "@fancyapps/ui/dist/carousel/carousel.css";
import "@fancyapps/ui/dist/carousel/carousel.autoplay.css";
import "swiper/css/bundle";
import "@fontsource/inter/variable.css";
import Contact from "~/components/contact.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import Testimonials from "~/components/testimonials.astro";
import "~/styles/index.css";
import Modal from "~/components/Modal/Modal.astro";
import SliderWrapper from "~/components/Slider/SliderWrapper.astro";
import SlideItem from "~/components/Slider/SlideItem.astro";
import { getShowcase } from "~/data/showcase";
import { Picture } from "@astrojs/image/components";
const sites = await getShowcase();

const { generator, site } = Astro;
const image = new URL("jdk-logo-alt.png", site);
const description =
  "Check out our company portfolio and see what we can do for you!";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={generator} />

    <title>JDK Dev Showcase</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="JDK Showcase" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Intro />
      <Showcase />
      <Testimonials />
      <Contact />
    </div>
    <button class="btn" data-jd-modal-trigger="modal-slider"
      >Modal Trigger</button
    >
    <Modal id="modal-slider" className="modal-demo modal-slider">
      <Fragment>
        <div class="modal">
          <div data-jd-modal-header>
            <h1 class="modal__title" data-jd-modal-title>Showcase</h1>
            <button data-jd-modal-close>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
                ><path
                  d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                ></path></svg
              >
            </button>
          </div>
          <div class="modal__text" data-jd-modal-content>
            <SliderWrapper id="myCarousel">
              {
                sites.map((site) => {
                  const { id, title, images } = site;
                  return (
                    <SlideItem slideNumber={id}>
                      <div class="grid gap-4 md:grid-cols-2">
                        <div class="showcase__grid_item">
                          {images &&
                            images.map((image) => {
                              return (
                                <img
                                  src={image.src}
                                  alt={title}
                                  class="rounded-lg"
                                />
                              );
                            })}
                        </div>
                        <div class="showcase__grid_item flex flex-col justify-around">
                          <h4 class="font-bold uppercase">{title}</h4>
                          <p class="text-sm">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Suscipit consequatur, distinctio minus
                            recusandae eum dolore natus qui repellat soluta fuga
                            ullam nesciunt. Accusantium, officiis. Enim est a
                            veritatis vitae atque.
                          </p>
                          <a
                            href={site.url}
                            target="_blank"
                            class="w-32 flex-auto flex-grow-0 rounded-lg bg-indigo-600 p-3 text-center text-white transition duration-300 ease-in-out hover:bg-indigo-700 hover:text-white"
                          >
                            Visit Site
                          </a>
                        </div>
                      </div>
                    </SlideItem>
                  );
                })
              }
            </SliderWrapper>
          </div>
          <!-- <div class="modal__actions" data-jd-modal-actions>
            <button class="button" data-jd-modal-close>Close</button>
          </div> -->
        </div>
      </Fragment>
    </Modal>
    <Footer />
  </body>
</html>
